# Build Folders
bin/
obj/
out/

# Visual Studio
.vs/
*.user
*.suo
*.cache
*.pdb

# Rider
.idea/

# ASP.NET / .NET
*.dll
*.exe
*.deps.json
*.runtimeconfig.json
*.db

# NuGet
*.nupkg
*.snupkg
packages/

# Logs
*.log

# Environment / Secrets
appsettings*.json
.env